.container_phoneVerification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: 20px;
  border-radius: 10px;
  width: 350px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 100px;

}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  /* width: 100%; */
}

.phone-input {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.input-container {
  margin-left: 5px;
  margin-top: 200px;
margin-bottom: 300px;  
}